html {
	font-size: 10px;
}

#MDN {
	color:red;
	background-color: yellow;
	text-align: center;
	font-weight: 900;
	font-size: 3rem;
}

#links {
	font-size: 2em;
	letter-spacing: 3px;
	word-spacing: 30px;
	text-align: center;
}

#name { 
	font-family: 'helvetica neue', helvetica, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	border: 2px solid rgba(0,0,200,0.6);
	background: rgba(0,0,200,0.3);
	color: rgba(0,0,200,0.6);
	box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
	border-radius: 10px;
	padding: 3px 10px;
	display: inline-block;
	cursor: pointer;
}

.machine {
	font-size: 1.5em;
}